In [1]:
import pandas as pd

In [4]:
file = pd.read_csv('../../Data/top-1m.csv')

In [5]:
file.head()

   rank           site
0     1     google.com
1     2    youtube.com
2     3   facebook.com
3     4      baidu.com
4     5  wikipedia.org

In [6]:
file[file['site'].astype(str).str.contains('google.com')]

NameError: name 'df' is not defined